/*!
 *   Cops_FiveM Menu
 *   Authors: Streetcorps, Kyominii
 *	 Website: Cops_FiveM <https://github.com/FiveM-Scripts/Cops_FiveM>
 *   License: AGPL-3.0
 */

@font-face {
	font-family: 'SignPainter';
	src: url('../fonts/SignPainter-HouseScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body, {
    height: 100%;
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	padding-top: 5px;
}

.menu {
	float: right;
	margin-right: 10px;
	width: 418px;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.header {
	background: rgb(30,87,153);
	background: url("../img/background.png") no-repeat;
	color: #fff;
	padding-top: 15px;
	font-size: 52px;
	font-family: 'SignPainter';
	min-height: 66px;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.subheader {
	height: 35px;
	color: #3e8fcc !important;
	background: rgb(0, 0, 0);
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
}

.content {
	background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%);
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
	user-select: none;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}

.list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul li:nth-of-type(1n+10) {
  display: none;
}

li {
	position: relative;
	padding: 10px;
	font-size: 17px;
	color: #D4D5D6;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 7px;
}

.item {
	list-style-type: none;
}

.item.active {
	color: #111;
	background: rgba(255,255,255,1);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%);
}

.scroll {
	background: rgba(0, 0, 0, 0.7) url('../img/arrows_upanddown.jpg') center center no-repeat;
	border-top: 1px solid rgba(255, 255, 255, 0.2);	
	display: none;
	height: 38px;
	width: 100%;
}